.banner {
	background-image: linear-gradient( 69deg, #9d00ff2b 0%, #0089ff2e 50%), url(../../images/banner.jpeg);
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
    font-size: 50px;

}

.banner h2 {
	font-size: 30px ;
	font-weight: lighter;
	opacity: 0,8; 
	margin-bottom: 40px;
}